<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-6">Help!</h1>
        </div>
        <div class="col-md-6">
            <p class="lead">If you are experiencing difficulty, please email me about it at michael@virtualpianist.com.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Table of Contents</h2>
            <ul>
                <li><a href="#section1">What Can I Do With This Tool?</a></li>
                <li><a href="#section2">Requirements</a></li>
            </ul>
        </div>
    
</div>