<div class="container">
    <p>The requirements for using this web sit depend on if you are a musician or a venue. </p>
    <p>If you are a musician, you need to have a website and an email for your performing group.</p>
    <p>if you are a venue, you only need to enter the details of your location.</p>
</div>