<div id="<%= dom_id concert %>">
  <p>
    <strong>Title:</strong>
    <%= concert.title %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= concert.group_id %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= concert.venue_id %>
  </p>

</div>
